<ul class="list-group" ng-show='!editMode'>
    <li class="list-group-item" ng-repeat='note in notes|orderBy:"id"'>
        <span ng-click='openEditor(note.id)'>{{note.title}}</span>
    </li>
</ul>
<div id='editor' ng-show='editMode' class='note-area' contenteditable='true' ng-bind='noteText'></div>
<button class="editor-btn btn btn-default" ng-click='save()' ng-show='editMode'>back</button>
<button class="editor-btn btn btn-primary" ng-click='openEditor()' ng-show='!editMode'>Add Note</button>
