<div class="row">
    <div class="form">
        <div class="form-group col-md-1">
            <label class="sr-only" for="">{{ balls.redBall1 }}</label>
            <input type="number" class="form-control" ng-model='balls.redBall1'>
        </div>
        <div class="form-group col-md-1">
            <label class="sr-only" for="">{{ balls.redBall2 }}</label>
            <input type="number" class="form-control" ng-model='balls.redBall2'>
        </div>
        <div class="form-group col-md-1">
            <label class="sr-only" for="">{{ balls.redBall3 }}</label>
            <input type="number" class="form-control" ng-model='balls.redBall3'>
        </div>
        <div class="form-group col-md-1">
            <label class="sr-only" for="">{{ balls.redBall4 }}</label>
            <input type="number" class="form-control" ng-model='balls.redBall4'>
        </div>
        <div class="form-group col-md-1">
            <label class="sr-only" for="">{{ balls.redBall5 }}</label>
            <input type="number" class="form-control" ng-model='balls.redBall5'>
        </div>
        <div class="form-group col-md-1">
            <label class="sr-only" for="">{{ balls.redBall6 }}</label>
            <input type="number" class="form-control" ng-model='balls.redBall6'>
        </div>
        <div class="form-group col-md-1">
            <label class="sr-only" for="">{{ balls.redBall7 }}</label>
            <input type="number" class="form-control" ng-model='balls.redBall7'>
        </div>
        <button class="btn btn-default" ng-click="start()" ng-disabled="isStart">开始</button>
    </div>
</div>
